DRIVERNAME=postgresql+psycopg2
SERVER=spotfinder-postgres-nanditha.postgres.database.azure.com
DATABASE=postgres
DB_USER=spotadmin
PASSWORD=findParking!
PORT=5432

UUID=test-device
DEVICE_NAME=telemetry-server
TOPIC=spotfinder_gps